<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Contacts.Contacts" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
	<uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
	<uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
	<uses-permission android:name="android.permission.BIND_APPWIDGET" />
	<uses-permission android:name="android.permission.BIND_AUTOFILL_SERVICE" />
	<uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_SERVICE" />
	<uses-permission android:name="android.permission.BIND_CARRIER_SERVICES" />
	<uses-permission android:name="android.permission.BIND_CHOOSER_TARGET_SERVICE" />
	<uses-permission android:name="android.permission.BIND_CONDITION_PROVIDER_SERVICE" />
	<uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
	<uses-permission android:name="android.permission.BIND_DREAM_SERVICE" />
	<uses-permission android:name="android.permission.BIND_INCALL_SERVICE" />
	<uses-permission android:name="android.permission.BIND_INPUT_METHOD" />
	<uses-permission android:name="android.permission.BIND_MIDI_DEVICE_SERVICE" />
	<uses-permission android:name="android.permission.BIND_NFC_SERVICE" />
	<uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
	<uses-permission android:name="android.permission.BIND_PRINT_SERVICE" />
	<uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE" />
	<uses-permission android:name="android.permission.BIND_REMOTEVIEWS" />
	<uses-permission android:name="android.permission.BIND_SCREENING_SERVICE" />
	<uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" />
	<uses-permission android:name="android.permission.BIND_TEXT_SERVICE" />
	<uses-permission android:name="android.permission.BIND_TV_INPUT" />
	<uses-permission android:name="android.permission.BIND_VISUAL_VOICEMAIL_SERVICE" />
	<uses-permission android:name="android.permission.BIND_VOICE_INTERACTION" />
	<uses-permission android:name="android.permission.BIND_VPN_SERVICE" />
	<uses-permission android:name="android.permission.BIND_VR_LISTENER_SERVICE" />
	<uses-permission android:name="android.permission.BIND_WALLPAPER" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
	<uses-permission android:name="android.permission.BODY_SENSORS" />
	<uses-permission android:name="android.permission.BRICK" />
	<uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED" />
	<uses-permission android:name="android.permission.BROADCAST_SMS" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.BROADCAST_WAP_PUSH" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.CALL_PRIVILEGED" />
	<uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
	<uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />
	<uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
	<uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.READ_CALL_LOG" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
	<uses-permission android:name="android.permission.READ_INPUT_STATE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_PROFILE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.READ_SYNC_STATS" />
	<uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
	<uses-permission android:name="com.android.voicemail.permission.READ_VOICEMAIL" />
	<uses-permission android:name="android.permission.REBOOT" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.RECEIVE_MMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.REORDER_TASKS" />
	<application android:theme="@style/MyTheme" android:icon="@drawable/Icon" android:label="Contacts">&gt;
    
  </application>
</manifest>